# === Go / Wails ===
build/
darwin/
windows/
wailsjs/
*.exe
*.dll
*.so
*.dylib
*.plist

# === Node / Vite ===
node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === IDE / Editores ===
.vscode/
.idea/
*.swp
*.swo

# === SO ===
.DS_Store
Thumbs.db

# === Otros ===
.env
package.json.md5
