@import "tailwindcss";

@theme {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer components {
  .boton{
    @apply inline-flex items-center justify-center
            rounded-lg p-[0.25rem] mb-1 px-2
            bg-sky-400 font-medium
            border border-cyan-600
            cursor-pointer
            transition duration-300 ease-in-out 
            hover:bg-sky-500
            active:scale-95;
  }
  .tabla{
    @apply table-auto border-collapse border border-gray-400 w-full text-center mt-1;
  }
  .tabla th {
    @apply bg-indigo-50;
  }
  .tabla th,
  .tabla td {
    @apply border border-gray-400 px-2 py-2;
  }
}